* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  padding: 3rem;
  font-size: 4.5rem;
  font-weight: bold;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.airplane {
  margin-top: 2rem;
  height: 50vh;
}
